:root {
    /* Global */
    font-size: 62.5%;

    /* Theme Colors */
    --color_primary: #E21B33;
    --color_primary-transp: #e21b3288;
    --color_secondary: #0C0A3E;
    --color_clear: #FFFFFF;
    --color_clear2: #FFFDFD;
    --color_clear_gray: #e2dfdf;
    --color_dark: #141414;
    --color_dark2: #313131;
    --color_dark3: #494949;
    --color_background: --color_clear2;
    --color_grey: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    background: var(--color_background);
    color: var(--color_dark);
    font-family: 'Roboto', Arial;
}

.btn {
    cursor: pointer;
}

.toggle {
    background: none;
    color: var(--color_clear);
    border: none;
    font-size: 1.8rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

/* Header */
.page-header .topbar .container,
.page-header .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* height: 100% ; */
}

/* 
---------------------
Header > Topbar 
---------------------
*/
.page-header .topbar {
    background: var(--color_dark);
    color: var(--color_clear);
}

.page-header .topbar .toggle:hover, 
.page-header .topbar .social-links a:hover {
    color: var(--color_primary);
}

.page-header .topbar .container {
    min-height: 3.5rem;
}

/* Header > Topbar > Social Links */
.page-header .topbar .social-links {
    display: inline-flex;
    gap: 2rem;
}

.page-header .topbar .social-links a {
    color: var(--color_clear);
}

/* Header > Topbar > User Area */
.page-header .topbar .user-area .btn {
    font-size: 1.5rem;
}

.page-header .topbar .user-area .btn i {
    margin-right: 1rem;
}

/* 
---------------------
Header > Navbar 
---------------------
*/
.page-header .navbar {
    background: var(--color_primary);
    box-shadow: 0 2px 8px 2px #00000050;
}

.page-header .navbar .container {
    min-height: 5rem;

}

/* Header > Navbar > Logo */
.page-header .navbar .logo {
    padding: .5rem;
}

/* Header > Navbar > Menu */
.page-header .navbar .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 1rem;
}

.page-header .navbar .menu .dropdown > a::after {
    content: "\f078";
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    margin-left: .5rem;
}

.page-header .navbar .menu li a {
    color: var(--color_dark);
    font-weight: 700;
}

.page-header .navbar .menu li a.link--active, 
.page-header .navbar .menu li a:hover {
    color: var(--color_clear)
}

/* Main */
.page-main {
    margin: 5rem 0;
}


/*
-----------------------
Main > Left Content
-----------------------
*/
.left-content {
    display: flex;
    gap: 0 2rem;
}


/*
-------------------------------
Main > Left Content > Slider
-------------------------------
*/
.slider {
    display: flex;
    max-width: 700px;
    height: 400px;
    position: relative;
    overflow: hidden;

    /* z-index: 4; */
}

.slider__posts {
    width: 100%;
    display: flex;
    position: relative;
}

/*
--------------------------------------
Main > Left Content > Slider > Post
--------------------------------------
*/
.slider .post:hover .post__content {
    top: 0;
}

.post {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    position: relative;
    transition: .3s ease-in-out;
}

.post:hover .post__image {
    scale: 1.1;
}

.post:hover .post__content .visible-info {
    position: static;
    padding: 0;
    background: none;
}

.post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: .5s ease-in-out;
}

.post__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s ease-in-out;
    top: 100%;
    background: hsla(0, 0%, 0%, 0.555);
    padding: 2rem;

}

.slider .post__content .post__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 0;
}

.post__content .visible-info {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: hsla(0, 0%, 0%, 0.555);
    padding: 2rem 2rem 5rem;

}

.post__content .catg {
    background: #C1BB16;
    color: var(--color_clear);
    padding: .5rem;
    font-weight: 800;

    z-index: 3;
}

.post__content i {
    color: var(--color_primary);
    margin-right: 1rem;
}

.post__content .publish-date {
    color: var(--color_clear);
    margin-left: 2rem;
}

.post__content .visible-info .author {
    display: inline;
    margin-left: 2rem;
}

.post__content .author a {
    color: var(--color_clear);
}

.post__content h3 {
    font-size: 3.6rem;
    color: var(--color_clear);
    margin: 1rem 0;
}

.post__content p {
    font-size: 1.8rem;
    color: var(--color_grey);
    transition: .3s ease-in-out;
}

/*
-----------------------------------------
Main > Left Content > Slider > Controls
-----------------------------------------
*/
.page-main .slider__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

.page-main .slider__controls .dot {
    width: 1.8rem;
    height: 1.8rem;
    background: var(--color_grey);
    border: none;
    border-radius: .4rem;
    transition: .3s ease-in-out;
}

.page-main .slider__controls .dot.dot--active,
.page-main .slider__controls .dot:hover {
    background: var(--color_primary);
    width: 4rem;
}

/*
-----------------------------------------
Main > Left Content > slider Slidebar
-----------------------------------------
*/

.slider-sidebar {
    max-width: 21.5rem;
}

.slider-sidebar .post {
    overflow: hidden;
    min-width: 200px;
    height: 125px;
    margin-bottom: 1.3rem;
}

.slider-sidebar .post:hover > .post__content {
    background: var(--color_primary-transp);
}

.slider-sidebar .post__content {
    background: #14141463;
    top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.slider-sidebar .post__content .catg {
    height: 2.6rem;
}

.slider-sidebar .post__content .publish-date {
    margin: 5px;
}

.slider-sidebar .post__content  h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    position: absolute;
    bottom: 0;
    padding: 1rem;
}

.slider-sidebar .post__content .post__link {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
}


/* POST GLOBAL */