:root {
    /* Global */
    font-size: 62.5%;

    /* Theme Colors */
    --color_primary: #E21B33;
    --color_primary-transp: #e21b3288;
    --color_secondary: #0C0A3E;
    --color_clear: #FFFFFF;
    --color_clear2: #FFFDFD;
    --color_clear_gray: #e2dfdf;
    --color_dark: #141414;
    --color_dark2: #313131;
    --color_dark3: #494949;
    --color_background: --color_clear2;
    --color_grey: #E5E5E5;
    --color_section-post__description: #6B6B6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.on {
    display: none;
}

.display--on {
    display: content;
}

.hide--off {
    display: none;
}

.btn {
    cursor: pointer;
    border: none;
}

.toggle {
    background: none;
    color: var(--color_clear);
    border: none;
    font-size: 1.8rem;
}

.section-title {
    font-size: 3.4rem;
    margin-bottom: 2.5rem;
    font-weight: 900;
    border-bottom: 3px solid var(--color_primary);
}

.post i {
    color: var(--color_primary);
}

.post .publish-date i {
    margin-right: 1rem;
}

.line-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color_primary);
    height: .1rem;
    margin-bottom: 65px;
}

.line-text span {
    color: var(--color_dark2);
    background: var(--color_clear);
    padding: 0 2rem;
    font-size: 2.4rem;
    font-weight: 100;
}

.line-text span div {
    font-size: 1.8rem;
    text-align: center;
}

body {
    font-size: 1.4rem;
    background: var(--color_background);
    color: var(--color_dark);
    font-family: 'Roboto', Arial;
}

section {
    margin-bottom: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 5rem 0;
}

img {
    width: 100%;
    object-fit: cover;
}

.divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2.5rem;
    position: relative;
}

/* Header */
.page-header .topbar .container,
.page-header .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* height: 100% ; */
}

/* 
---------------------
Header > Topbar 
---------------------
*/
.page-header .topbar {
    background: var(--color_dark);
    color: var(--color_clear);
}

.page-header .topbar .toggle:hover, 
.page-header .topbar .social-links a:hover {
    color: var(--color_primary);
}

.page-header .topbar .container {
    min-height: 3.5rem;
}

/* Header > Topbar > Social Links */
.page-header .topbar .social-links {
    display: inline-flex;
    gap: 2rem;
}

.page-header .topbar .social-links a {
    color: var(--color_clear);
}

/* Header > Topbar > User Area */
.page-header .topbar .user-area .btn {
    font-size: 1.5rem;
}

.page-header .topbar .user-area .btn i {
    margin-right: 1rem;
}

/* 
---------------------
Header > Navbar 
---------------------
*/
.page-header .navbar {
    margin-bottom: 80px;
}

.page-header .navbar {
    background: var(--color_primary);
    box-shadow: 0 2px 8px 2px #00000050;
}

.page-header .navbar .container {
    min-height: 5rem;

}

/* Header > Navbar > Logo */
.page-header .navbar .logo {
    padding: .5rem;
}

/* Header > Navbar > Menu */
.page-header .navbar .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 1rem;
}

.page-header .navbar .menu .dropdown > a::after {
    content: "\f078";
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    margin-left: .5rem;
}

.page-header .navbar .menu li a {
    color: var(--color_dark);
    font-weight: 700;
}

.page-header .navbar .menu li a.link--active, 
.page-header .navbar .menu li a:hover {
    color: var(--color_clear)
}

/* Main */
.page-main {
    margin: 5rem 0;
}

.page-main .container {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: 80% 20%;

    min-height: 100vh;
}

main {
    min-height: 100vh;
}

/*
-----------------------
Main > Left Content
-----------------------
*/
/* .left-content {
    display: flex;
    gap: 0 2rem;
} */

.left-content .top-posts {
    display: flex;
    gap: 0 2rem;
}

/*
-------------------------------
Main > Left Content > Slider
-------------------------------
*/
.slider {
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slider__posts {
    width: 100%;
    display: flex;
    position: relative;
}

/*
--------------------------------------
Main > Left Content > Slider > Post
--------------------------------------
*/
.slider .post:hover .post__content {
    top: 0;
}

.post {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    position: relative;
    transition: .3s ease-in-out;
}

.post:hover .post__image {
    scale: 1.1;
}

.post:hover .post__content .visible-info {
    position: static;
    padding: 0;
    background: none;
}

.post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: .5s ease-in-out;
}

.slider__posts .post__content,
.slider-sidebar .post__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s ease-in-out;
    top: 100%;
    background: hsla(0, 0%, 0%, 0.555);
    padding: 2rem;

}

.slider .post__content .post__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 0;
}

.post__content .visible-info {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: hsla(0, 0%, 0%, 0.555);
    padding: 2rem 2rem 5rem;
}

.post .catg {
    background: #C1BB16;
    color: var(--color_clear);
    padding: .5rem;
    font-weight: 800;
    z-index: 3;
}

.post__content i {
    color: var(--color_primary);
}

.post__content .publish-date {
    color: var(--color_clear);
    margin-left: 2rem;
}

.post__content .visible-info .author {
    display: inline;
    margin-left: 2rem;
}

.post__content .author a {
    color: var(--color_clear);
}

.post__content h3 {
    font-size: 3.6rem;
    color: var(--color_clear);
    margin: 1rem 0;
}

.post__content p {
    font-size: 1.8rem;
    color: var(--color_grey);
    transition: .3s ease-in-out;
}

/*
-----------------------------------------
Main > Left Content > Slider > Controls
-----------------------------------------
*/
.page-main .slider__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

.page-main .slider__controls .dot {
    width: 1.8rem;
    height: 1.8rem;
    background: var(--color_grey);
    border: none;
    border-radius: .4rem;
    transition: .3s ease-in-out;
}

.page-main .slider__controls .dot.dot--active,
.page-main .slider__controls .dot:hover {
    background: var(--color_primary);
    width: 4rem;
}

/*
-----------------------------------------
Main > Left Content > slider Slidebar
-----------------------------------------
*/

.slider-sidebar {
    max-width: 21.5rem;
}

.slider-sidebar .post {
    overflow: hidden;
    min-width: 200px;
    height: 125px;
    margin-bottom: 1.3rem;
}

.slider-sidebar .post:hover > .post__content {
    background: var(--color_primary-transp);
}

.slider-sidebar .post__content {
    background: #14141463;
    top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.slider-sidebar .post__content .catg {
    height: 2.6rem;
}

.slider-sidebar .post__content .publish-date {
    margin: 5px;
}

.slider-sidebar .post h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    position: absolute;
    bottom: 0;
    padding: 1rem;
}

.slider-sidebar .post__content .post__link {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
}

/*
-----------------------------------------
Main > Top Left Content > 
-----------------------------------------
*/

.left-content .section-title {
    display: inline-block;
    min-width: 150px;
}

#top_left-content section .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

#top_left-content section .post {
    height: 342px;
    
}

#top_left-content section .post:nth-of-type(1n+4) {
    display: none;
}

#top_left-content section .post.post--visible {
    display: block;
}

#top_left-content section .post__image-container {
    position: relative;
    overflow: hidden;

    height: 145px;
}

#top_left-content section .post__image-container .catg {
    position: absolute;
    left: 0;
    bottom: 0;
}

#top_left-content section .post__image-container .post__image {
    height: 145px;
}

#top_left-content section .post__content h3 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--color_dark);
}

#top_left-content section .post__content p {
    color: var(--color_section-post__description);
}

#top_left-content section .post footer {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

#top_left-content section .show-more {
    color: var(--color_dark2);
    margin: 3.5rem 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color_section-post__description);
    height: .2rem;
}

#top_left-content section .show-more .btn {
    color: var(--color_primary);
    padding: 0 1rem;
    background: var(--color_clear);
}


/*
-----------------------------------------
Main > Right Content > Sidebar
-----------------------------------------
*/

.sidebar .post {
    position: relative;
    display: block;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--color_clear_gray);
}

.sidebar .post {
    position: relative;
    display: block;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--color_clear_gray);
}

.sidebar .post .publish-date {
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar .post h3 {
    font-size: 1.8rem;
    font-weight: 900;
    margin: 1rem 0;
}

.sidebar .post__link {
    color: var(--color_dark);
}

.sidebar .social-links {
    background: var(--color_dark);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.sidebar .social-links a {
    border: 2px solid #c5c5c55d;
    color: var(--color_clear);
    font-size: 3.2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
}

.adv {
    width: 100%;

    background: #4D5DE5;
}

.sidebar .adv {
    height: 580px;
}



/*
----------------------------
Main > Video Section
----------------------------
*/
#video-section {
    background: var(--color_dark);
    padding: 4rem 0 6rem;


    
    height: 300px;
}

#video-section .section-title {
    text-align: center;
    border-bottom: none;
    color: white;
}

#video-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#video-section video {
    width: 100%;

    border: 1px solid red;
}

/*
---------------------------------
Main > Bottom Left Content
---------------------------------
*/
#bottom_left-content section .posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#bottom_left-content section .posts .post {
    max-width: 450px;
    height: 115px;
    display: flex;

}

#bottom_left-content section .post h3 {
    color: var(--color_dark);
    font-size: 2rem;
}

#bottom_left-content section .post__image-container {
    max-width: 220px;
    height: 100%;
    overflow: hidden;
    margin-right: 1rem;
}

#bottom_left-content section .post__image-container img {
    width: 100%;
}

#bottom_left-content section .post__image-container .catg {
    position: absolute;
    left: 0;
    bottom: 0;
}

#bottom_left-content section .post__content .author a,
#bottom_left-content section .post__content .publish-date {
   color: var(--color_dark);
}

#bottom_left-content section .post__content .publish-date {
    position: absolute;
    top: 0;
    right: 0;
}
 
#bottom_left-content .adv {
    height: 180px;
    margin: 50px 0
}
 
/*
----------------------------------------------
Main > Bottom Right Content Sidebar Comments
----------------------------------------------
*/
.sidebar #sidebar-comments li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #6b6b6b2c;
}

.sidebar #sidebar-comments li:last-child {
    margin-bottom: none;
}

.sidebar #sidebar-comments li a {
    color: var(--color_dark3);
    font-weight: 600;
}

.sidebar #sidebar-comments li a span {
    color: var(--color_primary);
}

/*
-------------------------------------------------------
Main > Bottom Right Content Sidebar Most Read List
-------------------------------------------------------
*/
.sidebar #sidebar-most-read li {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.sidebar #sidebar-most-read li a {
    color: var(--color_dark);
}

/*
-------------------------------------------------------
Main > Bottom Right Content Sidebar Tags
-------------------------------------------------------
*/
.sidebar .tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.sidebar .tags .catg {
   padding: 1rem;
   font-weight: 800;
   color: var(--color_clear);
   text-align: center;
}

/*
---------
Footer
---------
*/
.page-footer {
    background: var(--color_dark);
    /* width: 100%; */
    min-height: 100px;
    margin-top: 50px;

    
}

.page-footer .container {
    border-bottom: 2px solid var(--color_primary);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.page-footer .copyright {
    color: var(--color_clear);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
---------------------
Footer > Columns 
---------------------
*/
.footer__column {
    margin: 2rem 0;
}

.footer__column__title {
    color: var(--color_clear2);
}

.footer__column ul li a {
    color: var(--color_dark3);
}

.footer__column i {
    color: var(--color_primary);
    margin-right: 1rem;
}

.footer__column h5 {
    color: var(--color_clear);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer__column h6 {
    color: var(--color_clear);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer__column .logo {
    margin: 2rem 0;
}

.footer__column input {
    border-bottom: 1px solid var(--color_primary);
    background: var(--color_dark3);
    color: var(--color_clear2);
    padding: 1rem;
    border: none;
}

.footer__column input[type=submit] {
    /* border-bottom: 1px solid var(--color_primary); */
    background: var(--color_primary);
    font-weight: 700;
}

/*
--------------------------
Single Post > Share Post
--------------------------
*/
.share-post {
    display: flex;
    gap: 12px;
    position: absolute;
    top: -60px;
    right: 0;
    margin-right: 150px;
}

.share-post .btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 2px 2px 6px 2px #00000041;
    color: var(--color_clear);
}

.share-post .btn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.share-post .btn-more .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--color_clear);

}

/*
-----------------------
Single Post > Post
-----------------------
*/

.single-post h1 {
    font-size: 6.4rem;
    font-weight: 900;
}

.single-post p {
    font-size: 3.6rem;
    color: #8D8D8D;
}

/* 
-----------------------------
Single Post > Posts Section
-----------------------------
*/
#single-post_container .posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

#single-post_container .posts .post__image-container {
    height: 200px;
    position: relative;
    margin-bottom: 10px;
}

#single-post_container .posts .post__image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#single-post_container .posts .post__image-container .catg {
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 0;
    font-size: 2.4rem;
}

#single-post_container .posts h3 {
    color: var(--color_dark);
    font-size: 2.4rem;
}

#single-post_container .posts .publish-date  {
    color: var(--color_dark);
    margin: 0;
}

#single-post_container .posts .author {
    display: inline;
    margin-left: 20px;
}

#single-post_container .posts .author i {
    margin-right: 10px;
}

#single-post_container .posts .author a {
    color: var(--color_dark);
}

/* 
-----------------
404 Page > Main
-----------------
*/
#container_page404 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.info {
    /* position: relative; */
}

.info__description {
    position: relative;
    top: -170px;
    left: 70px;
    max-width: 470px;
}

.info__description h1 {
    font-size: 9rem;
}

.info__description h2 {
    font-size: 3.6rem;
}

.info__description p {
    margin: 0;
    font-size: 1.8rem;
}